In [1]:
mytuples = (2,34,5,2)

In [2]:
mytuples

(2, 34, 5, 2)

In [3]:
mytuples[0] = 34

TypeError: 'tuple' object does not support item assignment

In [51]:
mytuples2 = [('Man\'s Name','Abdo'),('Best Car ever','Cadillac Escalade')]

In [52]:
for listing in mytuples2:
    print(listing)

("Man's Name", 'Abdo')
('Best Car ever', 'Cadillac Escalade')

In [59]:
def show_name_and_car(mytuples2):
    #man_name =''
    #best_car = ''
    listing = ()
    
    for thelist in mytuples2:
        #man_name = name
        #best_car = car
        listing = thelist
        print(thelist)
         

    #return (man_name,best_car)
    
    return listing

In [60]:
returnall= show_name_and_car(mytuples2)

("Man's Name", 'Abdo')
('Best Car ever', 'Cadillac Escalade')

In [61]:
returnall

('Best Car ever', 'Cadillac Escalade')